<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
<div class="container">
    <h1>Sorry, bro.</h1>
    <p>Url you just clicked is incorrect, check once more</p>
</div>
<%- include('../partials/footer') %>

</body>
</html>
